<div class="login" ng-controller="loginController">

    <div class="login-form">

        <h3> Login </h3>

        <form  name="loginForm" action="#" method="post">
          <div class="form-group">

              <label for="user-name">Name</label>

              <input type="text" class="form-control" id="user-name" placeholder="name..."  ng-model="name" required>

          </div>
            <div class="form-group">

                <label for="user-email">Email address</label>

              <input type="text" class="form-control" id="user-email" placeholder="Email" ng-model="email" required>
              <div ng-show="loginForm.email.$error.email">This doesn't looklike email</div>
            </div>

            <div class="form-group">

                <label for="user-password">Password</label>

                <input type="password" class="form-control" id="user-password" placeholder="Password" g-mmodel="password" required>
                <div ng-show="loginForm.password.$error.minlength">password must be at least 5 character long</div>
            </div>
              <div class="welcome-message">WELCOME {{name}}</div>
            <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Login</button>

        </form>

    </div>

</div>
